
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F6FBFF;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: normal;
}

#start-table {
    margin:auto;
    margin-top: 100px;
}

#start-table td {
    padding: 20px 0;
    text-align: center;
}

#question-table {
    margin:auto;
    margin-top: 5px;
    display: none;
    width: 100%;
}

.selected-answer {
    background-color: #ffd582 !important;
    border: 1px solid #e0a131 !important;
}

#question-table .sbl-answer {
    border: 1px solid #ddd;
    height: 50px;
    line-height: 15px;
    background-color: #fff;
    border-radius: 3px;
    padding: 15px;
}

.centered {
    text-align: center;
}

input[@type="button"] {
    min-width: 100px;
    min-height: 30px;
}

#sbtn-begin {
    height: 60px;
    min-width: 150px;
}

#block-question {
    height: 110px;
    font-size: 11pt;
}

#block-answers {
    font-size: 10pt;
}

.wrong {
    border: 2px solid #f00 !important;
    background-color: #fdd !important;
}

.right {
    border: 2px solid #0f0 !important;
    background-color: #dfd !important;
}

.selected {
    border: 2px solid #aa0 !important;
    background-color: #ff3 !important;
}

.block-arrows {
    margin-top: 30px;
}


.block-arrows .arrow {
    width: 70px;
    height: 50px;
}

.block-stats {
    font-size: 9pt;
}


.block-stats > b {
    display: inline-block;
    margin: 10px;
    padding: 5px;
}

.sbtn-answer {
    width: 100px;
    height: 60px;
    float: right;
    background-
}

.sbtn-iforgot {
    width: 100px;
    height: 60px;
    float: left;

}

.peter-river-flat-button {
  position: relative;
  vertical-align: top;
  padding: 0;
  font-size: 11pt;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #3498db;
  border: 0;
  border-bottom: 2px solid #2a8bcc;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #2a8bcc;
  box-shadow: inset 0 -2px #2a8bcc;
}
.peter-river-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.concrete-flat-button {
  position: relative;
  vertical-align: top;
  padding: 0;
  font-size: 11pt;
  color:white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #859596;
  border: 0;
  border-bottom: 2px solid #95a5a6;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #95a5a6;
  box-shadow: inset 0 -2px #95a5a6;
}
.concrete-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.amethyst-flat-button {
  position: relative;
  vertical-align: top;
  padding: 0;
  font-size: 11pt;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #9b59b6;
  border: 0;
  border-bottom: 2px solid #8d4ca7;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #8d4ca7;
  box-shadow: inset 0 -2px #8d4ca7;
}
.amethyst-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.belize-hole-flat-button {
  position: relative;
  vertical-align: top;
  padding: 0;
  font-size: 11pt;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #2980b9;
  border: 0;
  border-bottom: 2px solid #2475ab;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #2475ab;
  box-shadow: inset 0 -2px #2475ab;
}
.belize-hole-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}


.turquoise-flat-button {
  position: relative;
  vertical-align: top;
  padding: 0;
  font-size: 11pt;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #1abc9c;
  border: 0;
  border-bottom: 2px solid #12ab8d;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #12ab8d;
  box-shadow: inset 0 -2px #12ab8d;
}
.turquoise-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#sbtn-exit {
    margin-top: 100px;
    width: 80px;
    height: 40px;
    margin: auto;
}

.logo {
    background-image: url("logo.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    text-align: center;
    margin: auto;
}


@media only screen and (min-width:600px){
    #question-table {
        margin:auto;
        margin-top: 5px;
        display: none;
        width: 600px;
    }

    .logo {
        width: 450px;
        height: 250px;
    }
}
